{% extends 'base.html' %}

{% block content %}
  {% if object %}
    <h1>Edit <span class="teal-text">{{object.date}}</span></h1>
  {% else %}
    <h1>Add Walk</h1>
  {% endif %}
  <!-- Leaving the action empty makes the form post to the same url used to display it -->
  <form action="" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
  </form>
  <script>
    const dateEl = document.getElementById('id_date');
// M is Materialize's global variable
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });
// add additional JS to initialize select below
    const timeEl = document.getElementById('id_time_start');
    M.Timeselector.init(timeEl, {
        defaultTime: 'now',
        twelveHour: true,
        autoClose: true, 
    });
</script>
{% endblock %}
